.scrivito-icon-box {
  overflow: hidden;
  margin: 10px auto;
  padding: 10px;
  width: 70px;
  height: 70px;
  box-sizing: initial;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
}

.scrivito-icon-box i {
  margin: 10px 0;
  font-size: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
}

.scrivito_dialog .icon-select .scrivito_enum_editor li {
  padding: 6px 18px;
  font-size: 10px;
  line-height: 10px;
  width: 81px;
  height: 51px;
  text-align: center;
  .fa {
    font-size: 20px;
    display: block;
    margin-bottom: 4px;
  }
}