.scrivito-icon-box {
  overflow: hidden;
  margin: 10px auto;
  padding: 10px;
  width: 70px;
  height: 70px;
  box-sizing: initial;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
}

.scrivito-icon-box i {
  margin: 10px 0;
  font-size: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
}

.scrivito_dialog .button_list button[data-editor="scrivito-toggle-button"].icon-select {
  padding: 6px 18px;
  font-size: 10px;
  line-height: 10px;
  width: 81px;
  height: 51px;
  .fa {
    font-size: 20px;
    display: block;
    margin-bottom: 4px;
  }
}