<h4>Icon</h4>
<div class="alert alert-info">
 Possible Icons can be found at
 <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">
   Font Awesome
 </a>
</div>
<%= cms_tag(:div, widget, :icon) %>

<h4>Size</h4>
<%= render "icon_box_widget/partials/size_picker", widget: widget, attribute: :size %>

<h4>Color</h4>
  <%= render "icon_box_widget/partials/color_picker", widget: widget, attribute: :color %>

<h4>Background Color</h4>
<%= render "icon_box_widget/partials/color_picker", widget: widget, attribute: :background_color %>
