<h4>Icon</h4>
<div class="alert alert-info">
 Possible Icons can be found at
 <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">
   Font Awesome
 </a>
</div>
<%= cms_tag(:div, widget, :icon) %>

<h4>Color</h4>
<%= cms_tag(:div, widget, :color) %>

<h4>Size</h4>
<%= cms_edit_enum(widget, :size) %>

<h4>Background Color</h4>
<%= cms_tag(:div, widget, :background_color) %>
