<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-image"></span>
  </div>

  <div class="title">
    Icon Box
  </div>

  <div class="description">
    A Box to display an icon in specified color and shape.
  </div>
</div>
