<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-image"></span>
  </div>

  <div class="title">
    Icon Box
  </div>

  <div class="description">
    Display an icon in a box.
  </div>
</div>
