<%= scrivito_toggle_button_editor(widget, attribute, IconBoxWidget.icons) %>

<h4>Different Icon</h4>
<div class="alert alert-info">
  <p>More Icons can be found at
    <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank"><strong>Font Awesome</strong></a>.
  </p>
  <p>
   Use only the name of the icon without fa. For Example the icon <i>fa fa-car</i>, use only <strong>car</strong>
 </p>
</div>
<%= scrivito_tag(:div, widget, attribute) %>
