<div class="button-picker-wraper">
  <% IconBoxWidget.colors.each do |color| %>
    <%= cms_tag(:button, widget, attribute, class: "btn button-picker #{widget.send(attribute) == color ? "selected" : ""}",  style: "background: #{color}", :"data-picker-content" =>  color, :"data-editor" => 'button-picker') do %><%= color %><% end %>
  <% end %>
</div>