<%= scrivito_toggle_button_editor(widget, attribute, IconBoxWidget.icons) do |elem|
  scrivito_tag(:button, widget, attribute, class: elem == widget.send(attribute) ? 'active' : '', data: {editor: 'scrivito-toggle-button', content: elem}) do
    content_tag(:i, '', :class => "fa fa-#{elem}") + " " + elem
  end
end %>

<h4>Icon not in List</h4>
<div class="alert alert-info">
  If the list does not contain an icon for your need, look at <a href="https://fortawesome.github.io/Font-Awesome/icons/" target="_blank">fontawesome webpage</a>. There are more then 500 icons that ca be used. Write the name of the icon with out fa- in the field. For Exeample: <stong>car</stong> instead of <i>fa-car</i>.
</div>
<%= scrivito_tag :div, widget, :icon %>