<div class="icon-select">
  <%= scrivito_tag(:div, widget, attribute, data: {toggle_button_list: IconBoxWidget.icons, toggle_button_caption: IconBoxWidget.caption}) %>
</div>
<hr />
<h4>Icon not in List</h4>
<div class="alert alert-info">
  If the list does not contain an icon for your need, look at <a href="https://fortawesome.github.io/Font-Awesome/icons/" target="_blank">fontawesome webpage</a>. There are more then 500 icons that ca be used. Write the name of the icon with out fa- in the field. For Exeample: <stong>car</stong> instead of <i>fa-car</i>.
</div>
<%= scrivito_tag :div, widget, :icon %>