.scrivito_button.button-picker {
  margin: 0 0 4px 0;
  height: auto !important;
  width: 120px !important;
  text-align: left;
  text-shadow: 0 0 2px #222;
  background: #444;
  color: #fff;
  outline: none !important;
  border: none;
}

.scrivito_button.button-picker:hover {
  background: #888;
}

.scrivito_button.button-picker.activated {
  box-shadow: 0 0 0 1px rgba(255,255,255,0.6) inset, 0 0 3px 1px #222
}